{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/courses/course-detail.css' %}"/>
{% endblock %}
{% block content %}
    <section>
        <h1>{{ course.title }}</h1>
        {% if course.instructor == request.user.staffer %}
        <div class="course-actions">
            <a href="{% url 'course-update' course.id %}" class="btn warn">Edit Details</a>
            <a href="{% url 'course-delete' course.id %}" class="btn danger">Delete Course</a>
        </div>
        {% endif %}
        <p>Instructor: {{course.instructor}}</p>
        <section class="roster">
            <div class="subsection-content">
                {% if enrolled %}
                    <table>
                        <thead>Roster: 
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in enrolled %}
                                <tr>
                                    <td>{{student.last_name}}</td>
                                    <td>{{student.first_name}}</td>
                                    {% if course.instructor == request.user.staffer %}
                                    <td>
                                        <form action="{% url 'remove-student' course.id student.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Unenroll</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table>
                        <thead>Roster:
                            <tr>
                                <td>No students are enrolled in this course.</td>
                            </tr>
                        </thead>
                    </table>
                {% endif %}
            </div>
            </br>
            <div class="subsection-content">
                {% if students %}
                    <table>
                        <thead>Unenrolled Students: 
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{student.last_name}}</td>
                                    <td>{{student.first_name}}</td>
                                    {% if course.instructor == request.user.staffer %}
                                    <td>
                                        <form action="{% url 'associate-student' course.id student.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Unenroll</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table>
                        <thead>Unenrolled Students:
                            <tr>
                                <td>All students are enrolled in this course</td>
                            </tr>
                        </thead>
                    </table>
                {% endif %}
            </div>
        </section>
    </section>
{% endblock %}

