{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/courses/course-detail.css' %}"/>
{% endblock %}
{% block content %}
    <section>
        <h1>{{ course.title }}</h1>
        <div class="course-actions">
            <a href="{% url 'course-update' course.id %}" class="btn warn">Edit Details</a>
            <a href="{% url 'course-delete' course.id %}" class="btn danger">Delete Course</a>
        </div>
        <p>Instructor: {{course.instructor}}</p>
        <section class="roster">
            <div class="subsection-content">
                <table>
                    <thead>Roster: 
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in course.students.all %}
                            <tr>
                                <td>{{student.last_name}}</td>
                                <td>{{student.first_name}}</td>
                                <td>
                                    <form action="{% url 'remove-student' course.id student.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Unenroll</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h3>Students not Enrolled</h3>
            <div class="subsection-content">
                {% if students %}
                    <ul>
                        {% for student in students %}
                            <div class="student-container">
                                <p>{{student}}</p>
                                <form action="{% url 'associate-student' course.id student.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn submit">Enroll</button>
                                </form>
                            </div>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>All students are enrolled in this course</p>
                {% endif %}
            </div>
        </section>



    </section>
{% endblock %}