{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/courses/course-index.css' %}"/>
{% endblock %}

{% block content %}
    <h1>Courses</h1>

    <ul>
        {% for course in courses %}
            {% if course.instructor == request.user.staffer %}
            <li>
                <a href="{% url 'course-detail' course.id %}" >{{ course.title }} - {{ course.instructor }}</a>
            </li>
            {% else %}
            <li>{{ course.title }} - {{ course.instructor }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'course-create' %}" class="btn">Add a course</a>
{% endblock %}