{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete student?</h1>
  <img src="{% static 'images/student-photo.jpg' %}" alt="student photo"/>
</div>

<h2>Are you sure you want to delete {{student.first_name}} {{student.last_name}}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'student-detail' student.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
