{% extends 'base.html' %} 
{% block content %}
<h1>About Mai SIS</h1>
<hr />
<section class="page-content">
    <p>Mai SIS is built off of my previous experience with Student Information Systems (SIS), specifically with Aspen and PowerSchool.</p>
    <p>Before you start to explore the links in the nav, you should read the directions to confirm how to navigate the site.</p>
    <h3>Directions</h3>
        <p>Now that you are logged in, you will need to go to the staff link and click 'add staff' so that you can connect your account to a staff account.</p>
        <p>After creating a staff account, you will be able to create your own courses and add students to them.</p>
        <p>Students will only be able to enroll/unenroll from classes you are the instructor for.</p>
        <p>All courses are listed, but not all are linked. That's because you are only able to access the courses you are the instructor for.</p>
</section>
{% endblock %}
